/* 
  *************************
  * 01. root variables
  *************************
*/

:root {
    --primary: #FF6600;
    --secondary: #BDBDBD;
    --background: #EFEFEF;
    --black: #292929;
    --black-secondary: #525252;
    --white: #FFF
 }

 /* 
  *************************
  * 03. Typography
  *************************
*/
a{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p, 
ul,
figure {
    padding: 0;
    margin: 0;
 }
 
 /* 

  *************************
  * 05. Custom class
  *************************
*/
.title-primary{
  font-size: 14px;
  line-height: 22px;
}

.title-secondary{
  font-size: 16px;
  line-height: 26px;
}

.cursor-pointer{
  cursor: pointer;
}

.header-title{
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
}

.header-secondary-title{
  font-size: 60px;
  font-weight: 600;
  line-height: 66px;
}

.mb-60{
  margin-bottom: 60px;
}

.mb-40{
  margin-bottom: 40px;
}

/* 
  *************************
  * Custom color
  *************************
*/
.primary-text{
  color: #FF6600;
}

.primary-btn{
  background: var(--primary);
  padding: 14px 20px;
  color: var(--white);
  border: 1px solid var(--primary)
}

.black-text{
  color: #292929;
}

.white-text{
  color: #FFF;
}

.gray-text{
  color: #DCDCDC;
}

.service-bg1{
   background: #FFF0D3;
}

.service-bg2{
  background: #FFC26D
}

.uppercase{
  text-transform: uppercase;
}

.btn-bg1{
  background: #DCDCDC;
}

.btn-bg2{
  background: #0A0D46;
}

.bg-transparent{
  background: transparent;
}

 /* 
  *************************
  * 02. Body
  *************************
*/

body {
  font-family: 'GeneralSans-Medium'
 }

  /* 
  *************************
  *  Announcement
  *************************
*/
.announcement{
    background: var(--background);
    padding: 20px 0;
    border-bottom: 1px solid var(--secondary);
}

.announcement-text{
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

 /* 
  *************************
  *  Navigation
  *************************
*/
.nav-section{
    background: var(--background);
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list ul{
    list-style-type: none;
    display: flex;
}

.menu-list ul li{
    margin-right: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list ul li:last-child{
    margin-right: 0;
    border-right: none;
}

.nav-link{
    color: var(--black);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 10px 0;
}

.nav-btn{
    background: var(--primary);
    padding: 43px;
    border: none;
    color: #FFF;
}

.vertical-line{
    width: 1px;
    height: 110px;
    background: var(--secondary);
}

 /* 
  *************************
  *  Dropdown
  *************************
*/
.dropdown-menu{
    max-width: 180px;
}
.dropdown:hover .dropdown-menu {
    display: block;
 }

 .dropdown-item:hover{
    background: var(--background);
 }

 /* 
  *************************
  *  Dropdown animaiton
  *************************
*/
 @media (min-width: 768px) {
    .animate {
      animation-duration: 0.4s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
    /* 
  *************************
  *  Start Home 1
  *************************
*/


     /* 
  *************************
  *  Hero section 
  *************************
*/
.hero-section{
  background-image: url('../images/home/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0;
  position: relative;
}

.hero-header{
  position: relative;
  z-index: 1;
}

.hero-header::before{
  content: url('../images/home/sparkler-icon.svg');
  width: 100%;
  height: auto;
  position: absolute;
    top: -12%;
    left: -4%;
    z-index: -1;
}

.hero-title{
  font-size: 60px;
  font-weight: 700;
  line-height: 69px;
  font-family: 'GeneralSans-Bold';
}

.hero-title p{
  display: inline-block;
  background: var(--white);
  color: var(--black);
  border-radius: 60px;
  padding: 0 16px;
  margin-bottom: 10px;
}

.hero-btn-link{
  display: flex;
  padding-top: 50px;
}

.hero-btn{
  padding: 12px 32px;
  border: none;
}

.slider-bar-content{
  background: var(--black);
  width: 511px;
  height: 60px;
  color: var(--white);
  padding: 0 30px;
  align-items: center;
  border-radius: 10px 0px 0px 0px;
}

.slider-bar{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.slider-bar::before{
  content: "";
  height: 15px;
  width: 70%;
  background: var(--primary);
  position: absolute;
  top: -3px;
  left: 0;
  border-radius: 10px 0px 0px 0px;
  z-index: -1;
}

 /* 
  *************************
  *  Home1 about
  *************************
*/
.home1-about{
  padding-top: 130px;
}

.home1-about-header{
  background: var(--black);
  padding: 38px 20px;
  position: relative;
  height: 150px;
}

.vertical-icon{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.home1-about-header-text{
  text-transform: uppercase;
  color: var(--primary)
}

.home1-about-description{
  background: #3D3D3D;
  height: 300px;
  position: relative;
}

.home1-about-description-text{
  padding: 40px 20px;
}

.home1-about-description-bg{
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url('../images/home/description-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 92px;
}

.home1-about-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary);
  color: var(--white);
  padding: 14px;
  border: none;
  cursor: pointer;
  width: 205px;
}

.home1-about-card{
  background: var(--black);
  position: relative;
  padding: 30px;
  height: 213px;
}

.home1-about-card-style-left{
  position: absolute;
  top: 0;
  left: 0;
}

.home1-about-card-style-right{
  position: absolute;
  top: 0;
  right: 0;
}

.home1-about-card-coundown-text{
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: var(--primary);
  padding-bottom: 5px;
}

.home1-about-card-text{
  font-size: 16px;
  line-height: 27px;
  color: var(--white);
  font-family: 'GeneralSans-Regular';
}

.home1-about-card-oval{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  /* 
  *************************
  *  Home1 service
  *************************
*/
.home1-service{
  padding-top: 130px;
}

.home1-service-header{
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-service-link a{
  color: var(--black);
  padding: 14px 20px;
  border-bottom: 1px solid #FF9D32;
}

.home1-service-card{
  position: relative;
  padding-top: 12px;
  padding-bottom: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 390px;
  justify-content: space-between;
}

.home1-service-card h3{
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
}

.home1-service-card-right-style{
  position: absolute;
  top: 0;
  right: 0;
}

.home1-service-card-number{
  background: var(--primary);
  padding: 27px;
  position: absolute;
  top: -10px;
  left: 0;
}

.home1-service-card-number p{
  color: var(--white);
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
}

.home1-service-card-number::before{
  content: url('../images/home/triangle-shape.svg');
  position: absolute;
  top: -7px;
  right: -14px;
}

  /* 
  *************************
  *  Home1 project
  *************************
*/
.home1-project{
  padding-top: 130px;
}

.home1-project-box{
  position: relative;
}

.home1-project-circle{
  position: relative;
  text-align: center;
}

.project-circle-text{
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  font-size: 15px;
  line-height: 24px;
  color: var(--primary)
}

.project-circle-img{
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home1-project-box-expand{
  background-color: var(--primary); 
  background-image: linear-gradient(to right, #FF7F0A 0%, rgba(0,0,0,0) 0%); 
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  overflow: hidden;
  transition: 0.35s ease all;
  max-width: 70px;
}

.home1-project-box:hover .home1-project-box-expand::before{
  content: "";
  position: absolute;
  top: -34px;
  left: 0px;
  width: 99px;
  height: 34px;
  background: #FF7F0A;
  /* overflow: visible; */
}

.home1-project-box:hover .box-expand-triangle::after{
  content: url('../images/home/triangle-shape.svg');
  position: absolute;
  top: -35px;
  left: 98px;
  width: 86px;
  height: 20px;
  overflow: hidden;
  opacity: 0;
}

/* .home1-project-box-item{
  position: relative;
}

.home1-project-box-item::before{
  content: "dfsf";
  position: absolute;
  max-width: 100px;
  height: 50px;
  background: #FF7F0A;
} */

.home1-project-box-expand-text{
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 8px;
  opacity: 0;
  transform: translateX(10px);
  transition: 0.50s ease all;
  margin-right: 40px;
}

.home1-project-box-expand-icon{
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 20px;
  right: 22px;
}

/* .home1-project-box:hover .home1-project-box-expand-icon{
  position: absolute;
  top: 50%;
  left: 90%;
} */

.home1-project-box:hover .home1-project-box-expand{
  max-width: 100%;
  background-image: linear-gradient(to right, #FF7F0A 30%, rgba(0,0,0,0) 30%); 
  overflow: visible;
}

.home1-project-box:hover .box-expand-triangle{
  max-width: 100%;
  overflow: visible;
}


.home1-project-box:hover .home1-project-box-expand-text{
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.50s 0.1s ease-in, transform 0.15s 0.1s cubic-bezier(.175, .885, .32, 1.275);
}

   /* 
  *************************
  *  Home1 team
  *************************
*/
.home1-team{
  background-image: url('../images/home/home1-team-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 130px 0;
  margin-top: 130px;
}

.home1-team-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.home1-team-name{
  font-size: 18px;
  line-height: 27px;
  color: var(--black)
}

.home1-team-designation{
  font-size: 14px;
  line-height: 22px;
  color: #3D3D3D;
  padding-top: 5px;
}

.home1-team-content{
  margin-top: -55px;
}

   /* 
  *************************
  *  Home1 testimonial
  *************************
*/
.home1-testimonial{
  padding: 130px 0;
}

.home1-testimonial-shape{
  position: absolute;
  top: 0;
  right: 0;
}

.home1-testimonial-content{
  background: var(--black);  
  padding: 70px;
  min-height: 447px;
}

.home1-testimonial-article{
  padding-top: 40px;
  color: var(--white);
  font-size: 16px;
  line-height: 25px;
}

   /* 
  *************************
  *  Home1 award
  *************************
*/
.home1-award{
 background: var(--black);
 padding-top: 110px;
 padding-bottom: 210px;
 position: relative;
}

.award-bridge-img{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 760px;
}

.home1-award-subtitle{
  max-width: 470px;
}

.home1-award-btn{
  margin-top: 70px;
}

.home1-award-icon{
  padding-top: 85px;
}

   /* 
  *************************
  *  Home1 latest blog
  *************************
*/
.home1-latest-blog{
  padding-top: 130px;
}

.latest-blog-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 52.8px */
}
.blog-title-color {
  color: #f60;
}

.blog-title-divider {
  transform: rotate(90deg);
}
.arrow-bg {
  background-color: #f60;
  color: var(--white);
}
.read-btn {
  border-bottom: 1px solid var(--Blaze-Orange-400, #ff9d32);
}
.blog-card {
  border-bottom: 1px solid var(--Blaze-Orange-300, #ffc26d);
  border-left: 1px solid var(--Blaze-Orange-300, #ffc26d);
  background: var(--Blaze-Orange-50, #fff8ec);
}
.blog-card-heading {
  padding: 20px 24px 33px 24px;
  text-align: left;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
.card-arrow {
  padding: 71px 17px;
}

.card-arrow {
  border-right: 1px solid var(--Blaze-Orange-300, #ffc26d);

  border-left: 1px solid var(--Blaze-Orange-300, #ffc26d);
  background: var(--Blaze-Orange-50, #fff8ec);
}
.name-bar {
  width: 20px;
  height: 1px;
  background: #656565;
}

.news-letter-bg {
  background-image: url("/assets/images/blog/news-letter.svg");
  background-color: var(--black);

  background-size: cover;
  background-position: center;
}

.newsletter-title {
  color: var(--white);
  text-align: center;

  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 45px */
}
.newsletter-para {
  color: var(--White-Border-Lite, #efefef);
  text-align: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}


   /* 
  *************************
  *  Call to action
  *************************
*/
.call-action{
  padding: 130px 0;
}

.call-acition-left{
  width: 100%;
  height: 100%;
}

.call-action-bg{
  background: var(--black);
  background-image: url('../images/home/call-action-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 110px 0;
}

.call-action-header{
  text-align: center;
}

.call-action-title{
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
  color: var(--white)
}

.call-action-text{
  color: var(--primary)
}

.call-action-btn{
  margin-top: 53px;
}


/* 
  *************************
  *  End Home 1
  *************************
*/

/* 
  *************************
  *  Start Home 2
  *************************
*/

/* 
  *************************
  *  Home2 hero section
  *************************
*/
.home2-hero-section{
  background-image: url(../images/home2/home2-hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.home2-nav-section{
  background: transparent;
  border-bottom: 1px solid var(--secondary)
}

/* 
  *************************
  *  Home2 about
  *************************
*/

.home2-about{
  padding-top: 100px;
  position: relative;
  overflow: hidden;
  z-index: 100;
}

.home2-about-style{
  position: absolute;
  top: 100px;
  right: 0;
  z-index: -1;
}

.home2-about-header{
  max-width: 470px;
  padding-bottom: 100px;
}

.home2-about-content{
  max-width: 204px;
}

.home2-about-content-subtitle{
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-family: 'GeneralSans-Regular'
}

.home2-about-content h4{
  padding-top: 24px;
  padding-bottom: 10px;
}


/* 
  *************************
  *  Home2 service
  *************************
*/
.home2-service{
  background-image: url('../images/home2/home2-section-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  margin-top: 130px;
}

.home2-service-left{
  max-width: 500px;
}

.home2-service-left img{
  padding-top: 70px;
}

.home2-service-content{
  display: flex;
  justify-content: space-between;
  padding-bottom: 65px;
}

.home2-service-content:last-child{
  padding-bottom: 0;
}

.home2-service-item{
  position: relative;
  display: inline-block;
}

.home2-service-item-text{
  color: var(--white);
  cursor: pointer;
  font-size: 36px;
  line-height: 45px;
}

.home2-service-img{
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
}

.home2-service-item-text:hover + .home2-service-img{
  display: block;
  
}

.home2-service-item-text:hover{
  color: var(--primary);
  text-decoration: underline;
}

/* 
  *************************
  *  Home2 project
  *************************
*/
.home2-project{
  padding-top: 130px;
}

.home2-project-img{
  text-align: center;
  margin-top: -55px;
  position: relative;
}

.home2-project-img-description{
  background: var(--white);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 28px 30px;
    width: 438px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

/* 
  *************************
  *  Home2 team
  *************************
*/
.home2-team{
  background-image: url('../images/home2/home2-team-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  margin-top: 130px;
  height: 451px;
}

.home2-team-membar{
  margin-top: -150px;
  margin-bottom: 130px;
}

.home2-team-content{
  position: relative;
  cursor: pointer;
  background: var(--black);
  padding: 15px;
}

.home2-team-img{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home2-team-img img{
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

.home2-team-text-overlay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--primary);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: transform 0.5s;
  width: 95px;
  height: 300px;
}
/* .home2-team-content:hover .home2-team-img img{
  transform: scale(1.1);
}

.home2-team-content:hover .home2-team-text-overlay{
  transform: translateY(0);
} */

.home2-team-img img:hover{
  transform: scale(1.1);
}

.home2-team-img:hover .home2-team-text-overlay{
  transform: translateY(0);
}

/* 
  *************************
  *  Footer
  *************************
*/
.footer{
  background: var(--black);
}

.footer-content{
  padding-top: 115px;
}

.footer-description{
  color: var(--secondary);
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 45px;
  max-width: 270px;
}

.footer-info{
  padding-top: 60px;
  padding-bottom: 120px;
}

.footer-info-text{
  font-size: 20px;
  line-height: 30px;
  color: #DCDCDC
}

.horizontal-line{
  background: #656565;
  width: 100%;
  height: 2px;
}

.social-header{
  font-weight: 500;
  color: #E6EAEB;
  margin-bottom: 24px;
}

.social-icon{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary);
  cursor: pointer;
  padding: 20px;
  margin-right: 14px;
  transition: all 0.4s linear;
}

.social-icon:hover{
  background: var(--white);
}

.social-icon:last-child{
  margin-right: 0;
}

.social-icon i{
  color: var(--black-secondary);
  font-size: 20px;
}

.footer-title{
  color: #E6EAEB;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.footer-menu{
  list-style-type: none;
}

.footer-link{ 
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: var(--secondary);
  padding-bottom: 10px;
  font-family: 'GeneralSans-Regular'
}

.footer-link:hover{
  color: var(--primary);
}

.footer-text{
  color: var(--secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  font-family: 'GeneralSans-Regular'
}

.footer-newsletter{
  padding-top: 50px;
}

.footer-input{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 12px
}

.footer-input::placeholder{
  font-size: 14px;
  line-height: 24px;
  font-family: 'GeneralSans-Regular';
  color: #656565
}

.newsletter-btn{
  border-left: none !important;
  border: 1px solid var(--primary);
  background: transparent;
  padding: 10px 22px;
}

.footer-img{
  padding-top: 100px;
}

.overlay-text {
  margin-top: -45px;
  opacity: 0.8;
  background: var(--black);
  color: white;
  padding: 12px 20px;
}

.overlay-text p{
  color: var(--secondary);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: 'GeneralSans-Regular';
}

.privacy-link{
  border-bottom: 1px solid var(--secondary);
}