/* Mobile screen */
@media screen and (max-width: 1368px){
    /* Home1 award */
    .award-bridge-img{
        display: none;
    }
}

@media screen and (max-width: 1228px){
    /* Primary hero section */
    .primary-hero-content {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
    }
    /* Home3 benifits */
    .home3-benifits {
        padding-top: 80px;
    }

    .benifits-img{
        width: 100%;
    }

    /* home3 contact */
    .home3-contact {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .home3-contact-img{
        width: 100%; 
    }

    /* home3 serivce */
    .home3-service {
        padding-top: 80px;
    }

    .home3-hover-img{
        display: none;
    }

    .home3-service-title{
        background: #13860F;
        padding: 10px;
    }

    /* Home2 hero section */
    .home2-slider-bar-content {
        padding: 0 20px;
    }

    .home2-hero-social{
        display: none;
    }

    /* FAQ 3 */
    .faq-3-contact-question{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}

@media screen and (max-width: 768px){
    /* Home2 project */
    .home2-project {
        padding-top: 80px;
    }

.home2-project-img-description{
    display: none;
}

.title-img-header{
    padding-bottom: 45px;
}
}
@media screen and (max-width: 992px) {
    /* Custom class */
    .header-secondary-title{
        font-size: 38px;
        font-weight: 600;
        line-height: 48px;
      }

      .hero-title {
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;
        font-family: 'GeneralSans-Bold';
    }

      .header-title{
        font-size: 28px;
        font-weight: 600;
        line-height: 38px;
      }
      

    /* Home1 team */
    .home1-team {
        padding: 80px 0;
        margin-top: 80px;
    }

    .home1-team-header{
        flex-direction: column;
        justify-content: center
        ;
    }

    .home1-team-content{
        margin-top: 30px;
    }

    .home1-team-designation {
        color: var(--white);
    }

    .home1-team-name {
        color: var(--white);
    }

/* Primary hero section */
.primary-hero-title {
    margin-top: 20px;
    font-size: 22px;
    line-height: 32px;
}

.breadcrumb-content .breadcrumb-item {
    font-size: 14px;
    line-height: 27px;
}
    /* Home3 contact */
    .home3-contact-form{
        width: 100%;
    }

    /* Build together */
    .build-together{
        height: 100%
    }

    .build-together-content-mobile{
        background: #3D3D3D;
        text-align: center;
        max-width: 530px;
        min-height: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .build-together {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    /* Home1 service */
    .home1-service {
        padding-top: 80px;
    }

    .home1-service-card-number{
        padding: 10px;
    }

    .home1-service-header{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .home2-service-item-text {
        font-size: 24px;
        line-height: 34px;
    }

    .home2-service-content {
        padding-bottom: 25px;
    }
    
    /* Service introduction */
    .service-intro-text{
        padding-left: 0;
    }

    .service-intro {
        padding-top: 80px;
    }

    /* Hom2 project */
    .home2-project-img {
        text-align: center;
        margin-top: 50px;
        position: relative;
    }

    /* Blog call to action */
    .blog-call-action-form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .blog-form-text{
        text-align: center;
    }

    /* Home2 hero section */
    .home2-hero-header{
        padding: 80px 0;
      }
      .home2-hero-title {
        font-size: 32px;
        line-height: 42px;
    }

    .home2-slider-bar {
        display: flex;
        flex-direction: column;
        position: static;
        align-items: normal;
    }

    .home2-hero-subtitle {
        padding-top: 20px;
        font-size: 18px;
        line-height: 28px;
        color: var(--white);
    }

    /* Home1 hero section */
    .hero-section{
        padding-top: 100px;
      }

    .hero-title span {
        padding: 0px 10px;
    }

    .slider-bar-content {
        width: 100%;
    }

    /* Team */
    .home2-team-header{
        margin-top: 80px;
    }

    /* Coming soon v1 */
    .coming-soon-v1{
        padding-top: 40px;
        padding-bottom: 40px;
        height: 100vh;
      }

      .coming-soon-v1-header{
        padding-top: 50px;
      }

      .coming-soon-v1-title{
        font-size: 32px;
        line-height: 32px;
      }

      .coming-soon-v1-subtitle{
        font-size: 18px;
        line-height: 28px;
      }

      /* Contact team */
      .contact-form {
        padding-top: 80px;
    }

      .team-bg{
        height: 100%;
      }

      .team-title {
        font-size: 34px;
        line-height: 48px;
        padding-bottom: 30px;
      }
      
      .background-image{
        padding: 60px 0;
      }

      /* Contact team */
      .contact-team {
        padding-top: 80px;
    }

    /* Contact address */
    .contact-address {
        padding: 80px 0;
    }
    .contact-map-bg {
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

      /* Coming soon v2 */
      .coming-soon-v2-logo {
        padding-top: 80px;
    }

    .coming-soon-v2-header {
        padding-top: 80px;
    }

    .coming-soon-v2-left {
        display: flex;
        justify-content: center;
    }

    .coming-soon-v2-form {
       display: flex;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    /* Error */
    .error-content {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .error-content h1 {
        padding-top: 70px;
    }

    /* Pricing */
    .pricing {
        padding-bottom: 80px;
    }

    /* Pricing-1 */
    .pricing-1 {
        padding: 80px 0;
    }

    /* FAQ-1 */
    .faq-1 {
        padding-top: 80px;
    }

    /* FAQ-2 */
    .faq-2 {
        padding: 70px 0;
        margin-top: 80px;
    }

    /* FAQ-3 */
    .faq-3 {
        padding-top: 80px;
    }

    /* CAll to action */
    .call-action {
        padding: 80px 0;
    }

    .call-action-bg {
        padding: 70px 0;
    }

    .call-action-title {
        font-size: 34px;
        line-height: 44px;
    }

    /* Project about */
    .project-about {
        padding-top: 80px;
    }

    /* Team membar */
    .team-membar{
        padding-top: 80px;
      }

      .team-mt-60{
        margin-top: 0;
      }
      
      .team-mt-120{
        margin-top: 0;
      }

      /* Team history */
      .team-history {
        padding: 70px 0;
        margin-top: 80px;
    }
      
    /* Home1 award */
    .home1-award {
        padding-top: 80px;
        padding-bottom: 80px;
        margin-top: 80px;
    }

    /* Blog details */
    .blog-details {
        padding-top: 80px;
    }

    .blog-heading {
        font-size: 32px;
        line-height: 42px;
    }

    /* Home1 latest blog */
    .home1-latest-blog {
        padding-top: 80px;
    }

    /* Blog call to action */
    .blog-call-action {
        padding: 80px 0;
    }

    /* Blog section */
    .blog-section {
        padding-top: 80px;
    }

    /* Home1 about */
    .home1-about {
        padding-top: 80px;
    }

    /* About timeline */
    .about-timeline {
        padding-top: 80px;
    }

    /* Home2 team */
    .home2-team {
        margin-top: 80px;
    }

    /* Home2 testimonial */
    .home2-testimonial {
        padding-top: 80px;
        overflow-x: hidden;
    }

    .home2-testimonial-title{
        margin-top: 20px;
      }

      .home2-testimonial-description {
        padding-top: 30px;
    }

    /* About team */
    .about-team {
        padding: 80px 0;
    }

    /* Project details */
    .project-description {
        padding-top: 80px;
    }

    /* Project gallery */
    .project-gallery {
        padding-top: 80px;
    }

    /* Service feature */
    .service-feature {
        padding: 80px 0;
        margin-top: 80px;
    }

    /* Home1 project */
    .home1-project {
        padding-top: 80px;
    }

    /* Title image */
    .title-img-section {
        padding-top: 80px;
    }

    /* Home3 hero section */
    .home3-hero-section {
        padding: 80px 0 220px 0;
    }

    .home3-hero-title {
        font-size: 38px;
        line-height: 47px;
    }

    .home3-hero-video-title {
        font-size: 16px;
        line-height: 36px;
    }

    .hero-video-text {
        font-size: 16px;
        line-height: 26px;
    }

    .home3-hero-video {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 0;
    }

    /* Home3 about */
    .home3-about{
        padding-top: 80px;
    }

    /* Home3 project */
    .home3-project {
        padding-top: 80px;
        padding-bottom: 0;
    }

    /* Home3 faq */
    .home3-faq {
        margin-top: 30px;
        padding-bottom: 0;
    }

    /* Home3 call to action */
    .home3-call-action {
        padding: 80px 0;
    }

    /* Home2 about */
    .home2-about {
        padding-top: 80px;
    }

    /* Home2 service */
    .home2-service {
        padding-top: 70px;
        padding-bottom: 70px;
        margin-top: 80px;
    }

    /* Home1 testimonial */
    .home1-testimonial {
        padding-top: 80px;
    }

    .home1-testimonial-content {
        padding: 30px;
    }

    /* Footer */
    .footer-info {
        padding-bottom: 60px;
    }

    .footer-content {
        padding-top: 60px;
    }

    .footer-newsletter {
        padding-top: 30px;
    }

    .footer-img {
        padding-top: 70px;
    }

}