/* Mobile screen */
@media screen and (max-width: 1228px){
    /* Primary hero section */
    .primary-hero-content {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
    }
    /* Home3 benifits */
    .benifits-img{
        width: 100%;
    }

    /* home3 contact */
    .home3-contact-img{
        width: 100%; 
    }

    /* home3 serivce */
    .home3-hover-img{
        display: none;
    }

    .home3-service-title{
        background: #13860F;
    }

    /* Home1 award */
    .award-bridge-img{
        display: none;
    }

    /* Home2 hero section */
    .home2-hero-social{
        display: none;
    }

    /* FAQ 3 */
    .faq-3-contact-question{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}

@media screen and (max-width: 768px){
    /* Home2 project */
.home2-project-img-description{
    display: none;
}

.title-img-header{
    padding-bottom: 45px;
}
}
@media screen and (max-width: 992px) {
    /* Custom class */
    .header-secondary-title{
        font-size: 38px;
        font-weight: 600;
        line-height: 48px;
      }

      .header-title{
        font-size: 28px;
        font-weight: 600;
        line-height: 38px;
      }
      

    /* Home1 team */
    .home1-team-header{
        flex-direction: column;
        justify-content: center
        ;
    }

    .home1-team-content{
        margin-top: 30px;
    }

/* Primary hero section */
.primary-hero-title {
    margin-top: 20px;
    font-size: 22px;
    line-height: 32px;
}

.breadcrumb-content .breadcrumb-item {
    font-size: 14px;
    line-height: 27px;
}
    /* Home3 contact */
    .home3-contact-form{
        width: 100%;
    }

    /* Build together */
    .build-together{
        height: 100%
    }

    .build-together-content-mobile{
        background: #3D3D3D;
        text-align: center;
        max-width: 530px;
        min-height: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* Home1 service */
    .home1-service-card-number{
        padding: 10px;
    }

    .home1-service-header{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    /* Service introduction */
    .service-intro-text{
        padding-left: 0;
    }

    /* Hom2 project */
    .home2-project-img {
        text-align: center;
        margin-top: 50px;
        position: relative;
    }

    /* Blog call to action */
    .blog-call-action-form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .blog-form-text{
        text-align: center;
    }

    /* Home2 hero section */
    .home2-hero-header{
        padding: 80px 0;
      }
      .home2-hero-title {
        font-size: 32px;
        line-height: 42px;
    }

    .home2-slider-bar {
        display: flex;
        flex-direction: column;
        position: static;
        align-items: normal;
    }

    .home2-hero-subtitle {
        padding-top: 20px;
        font-size: 18px;
        line-height: 28px;
        color: var(--white);
    }

    /* Home1 hero section */
      .hero-title {
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;
        font-family: 'GeneralSans-Bold';
    }

    /* Team */
    .home2-team-header{
        margin-top: 80px;
    }

    /* Coming soon v1 */
    .coming-soon-v1{
        padding-top: 40px;
        padding-bottom: 40px;
        height: 100vh;
      }

      .coming-soon-v1-header{
        padding-top: 50px;
      }

      .coming-soon-v1-title{
        font-size: 32px;
        line-height: 32px;
      }

      .coming-soon-v1-subtitle{
        font-size: 18px;
        line-height: 28px;
      }

      /* Contact team */
      .contact-form {
        padding-top: 80px;
    }

      .team-bg{
        height: 100%;
      }

      .team-title {
        font-size: 34px;
        line-height: 48px;
        padding-bottom: 30px;
      }
      
      .background-image{
        padding: 60px 0;
      }

      /* Contact team */
      .contact-team {
        padding-top: 80px;
    }

    /* Contact address */
    .contact-address {
        padding: 80px 0;
    }
    .contact-map-bg {
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

      /* Coming soon v2 */
      .coming-soon-v2-logo {
        padding-top: 80px;
    }

    .coming-soon-v2-header {
        padding-top: 80px;
    }

    .coming-soon-v2-left {
        display: flex;
        justify-content: center;
    }

    .coming-soon-v2-form {
       display: flex;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    /* Error */
    .error-content {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .error-content h2 {
        padding-top: 70px;
    }
}