/* 
  *************************
  * 01. root variables
  *************************
*/

:root {
  --primary: #ff6600;
  --secondary: #bdbdbd;
  --background: #efefef;
  --black: #292929;
  --black-secondary: #525252;
  --white: #fff;
  --Blaze-Orange-300: #ffc26d;
  --Blaze-Orange-50: #fff8ec;
  --White-Border-Lite: #efefef;
}

/* 
  *************************
  * 03. Typography
  *************************
*/
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  padding: 0;
  margin: 0;
}
/* 
  *************************
  * 02. Body
  *************************
*/

body {
  font-family: "GeneralSans-Medium";
}
.container {
  max-width: 1170px;
}
/* contact-page */

.contact-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.8px;
}
.background-image {
  background-image: url("/assets/images/contact/bg.png");
  background-size: cover;
  background-position: center;
  height: 760px;
}
.team-bg {
  background-image: url("/assets/images/contact/team-bg.svg");
  background-size: cover;
  background-position: center;
  background-color: black;
  height: 451px;
}
.left-height {
  height: 100vh;
}
.custom-padding {
  padding: 88px 0;
}
.custom-text-color {
  color: var(--primary);
}
.contact-btn-bg {
  background-color: var(--primary);
  padding: 17px 14px;
  color: #fff;
}

.custom-input {
  padding: 10px 14px;
  display: inline-block;
  width: 100%;
}
.column-gap {
  margin-right: 88px;
}

.box {
  height: 127px;
}

.team-title {
  max-width: 624px;
  color: white;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 66px;
}
.contact-img {
  text-align: center;
  margin-top: -107px;
  margin-bottom: 130px;
}

.contact-map-bg {
  background-color: var(--black);
  color: var(--white);
}
.map-bar {
  width: 54.844px;
  height: 2px;
  background: #bdbdbd;
}
.section-padding {
  padding: 0 135px;
}
.team-star-position {
  position: absolute;

  left: 306px;
  top: 996px;
}
.team-star2-position {
  position: absolute;
  right: 259px;
}

/* blog-page */
.blog-heading-btn {
  border-radius: 0.75rem; /* Adjust the value as needed */
  color: #6941c6;
  background-color: #f9f5ff;
  border: none;
  padding: 0 10px;
}
.blog-heading-btn2 {
  border-radius: 0.75rem; /* Adjust the value as needed */
  color: #ff6600;
  background-color: #fff0d3;
  border: none;
  padding: 0 10px;
}
.blog-heading-btn3 {
  border-radius: 0.75rem; /* Adjust the value as needed */
  color: #c11574;
  background-color: #fdf2fa;
  border: none;
  padding: 0 10px;
}
.blog-date-color {
  color: var(--primary);
}
.blog-heading {
  color: var(--Black);
  text-align: center;

  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.8px;
}
.blog-para {
  color: var(--White-Paragraph, #525252);
  text-align: center;
  /* General Sans Regular/xl */
  font-family: "General Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.article-width {
  max-width: 770px;
}
.blog-article {
  color: var(--black-secondary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
.article-quotation {
  width: 720px;
  height: 216px;
  flex-shrink: 0;
  margin-top: 60px;
  text-align: start;
  color: var(--black);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
}

.quote-name {
  color: var(--White-Paragraph, #525252);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
.article-title {
  color: var(--black);

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}
.conclusion-bg {
  background-color: #fff8ec;
}

/* latest-blog */

.latest-blog-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 52.8px */
}
.blog-title-color {
  color: #f60;
}

.blog-title-divider {
  transform: rotate(90deg);
}
.arrow-bg {
  background-color: #f60;
  color: var(--white);
}
.read-btn {
  border-bottom: 1px solid var(--Blaze-Orange-400, #ff9d32);
}
.blog-card {
  border-bottom: 1px solid var(--Blaze-Orange-300, #ffc26d);
  border-left: 1px solid var(--Blaze-Orange-300, #ffc26d);
  background: var(--Blaze-Orange-50, #fff8ec);
}
.blog-card-heading {
  padding: 20px 24px 33px 24px;
  text-align: left;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
.card-arrow {
  padding: 71px 17px;
}

.card-arrow {
  border-right: 1px solid var(--Blaze-Orange-300, #ffc26d);

  border-left: 1px solid var(--Blaze-Orange-300, #ffc26d);
  background: var(--Blaze-Orange-50, #fff8ec);
}
.name-bar {
  width: 20px;
  height: 1px;
  background: #656565;
}

.news-letter-bg {
  background-image: url("/assets/images/blog/news-letter.svg");
  background-color: var(--black);

  background-size: cover;
  background-position: center;
}

.newsletter-title {
  color: var(--white);
  text-align: center;

  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 45px */
}
.newsletter-para {
  color: var(--White-Border-Lite, #efefef);
  text-align: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.subscribe-img-border {
  border: 1px solid var(--Blaze-Orange-Orange-Primary, #f60);
}
.box {
  box-sizing: border-box;
}
