/* 
  *************************
  * 01. root variables
  *************************
*/

:root {
  --primary: #ff6600;
  --secondary: #bdbdbd;
  --background: #efefef;
  --black: #292929;
  --black-secondary: #525252;
  --white: #fff;
}

/* 
  *************************
  * 03. Typography
  *************************
*/
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  padding: 0;
  margin: 0;
}
/* 
  *************************
  * 02. Body
  *************************
*/

body {
  font-family: "GeneralSans-Medium";
}
.container {
  max-width: 1440px;
}
.contact-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.8px;
}
.background-image {
  background-image: url("/assets/images/contact/bg.png");
  background-size: cover;
  background-position: center;
  height: 760px;
}
.team-bg {
  background-image: url("/assets/images/contact/team-bg.svg");
  background-size: cover;
  background-position: center;
  background-color: black;
  height: 451px;
}
.left-height {
  height: 100vh;
}
.custom-padding {
  padding: 88px 0;
}
.custom-text-color {
  color: var(--primary);
}
.contact-btn-bg {
  background-color: var(--primary);
  padding: 17px 14px;
  color: #fff;
}

.custom-input {
  padding: 10px 14px;
  display: inline-block;
  width: 100%;
}
.column-gap {
  margin-right: 88px;
}

.box {
  height: 127px;
}

.team-title {
  max-width: 624px;
  color: white;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 66px;
}
.contact-img {
  text-align: center;
  margin-top: -107px;
  margin-bottom: 130px;
}

.contact-map-bg {
  background-color: var(--black);
  color: var(--white);
}
.map-bar{
  width: 54.844px;
  height: 2px;
  background: #BDBDBD;
}
.section-padding{
  padding:  0 135px;
}